@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&family=Cairo:wght@200..1000&display=swap');
*{
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
    user-select: none;
}
body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 600vh;
    background: white;
    flex-direction: column;
    gap: 15px;
}
.option{
    width: 100%;
}
.option>nav{
    direction: rtl;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(255, 255, 255,0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}
.option>nav>li{
    background: none;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.option>nav>li>a{
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    color: #000000;
    transition:all 0.3s;
    background: none;
}
.option>nav>li>a:hover{
    color: rgb(0, 0, 0,0.6);
    text-decoration: underline;
    translate: 5px;
}
#head{
    width: 100%;
    height: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    overflow: hidden;
}
#logoimg{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#myGif{
    max-width: 60%;
    height: auto;
    object-fit: cover;
    animation: myGif 2.9s;
    animation-delay: 0.7s;
}
@keyframes myGif {
    0%{
        translate: 0px;
    }
    50%{
        translate: 50px;
        rotate: 25deg;
    }
    75%{
        translate: -20px;
        rotate: -15deg;
    }
    100%{
        translate: 0px;
    }
}

.text{
    max-width: 70%;
    padding: 10px;
    display: flex;
    direction: rtl;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.text>.h1{
    width: 100%;
}
.text>.h1>h1{
    font-family: "Cairo Play", sans-serif;
    font-weight: 900;
    direction: rtl;
    color:white;
    font-size: clamp(40px,2vw,18px);
    width: 100%;
    background: none;
    text-align: start;
}
.text>.par{
    background: none;
    width: 100%;
}
.text>.par>p{
     font-family: "Beiruti", sans-serif;
    font-weight: 400;
    direction: rtl;
    color:rgb(0, 0, 0);
    font-size: 16px;
    width: fit-content;
    background: #10c710;
    padding: 5px;
    border-radius: 5px;
}



#middil{
    width: 100%;
    height: 80%;
    overflow: hidden;
    border-radius: 0%;
    gap: 5%;
}
.scroll{
    width: 99%;
    height: fit-content;
    background:none;
    border: 1px solid rgb(0, 0, 0,0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15px;

    overflow: hidden;
}

.scrolltext{
    width: 100%;
    height: 15%;
    background: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.scrolltext>.h3text{
    width: 100%;
    background: none;
    text-align: center;
    background: none;
}
.scrolltext>.h3text>h3{
    width: 100%;
    font-size: 2rem;
     font-family: "Cairo", sans-serif;
    font-weight: 900;
    background: none;
}
.scrolltext>.scrollpar{
    background: none;
}
.scrolltext>.scrollpar>p{
    font-size:18px ;
     font-family: "Beiruti", sans-serif;
    font-weight: 500;
    text-align: center;
    background: none;
    color: rgb(0, 0, 0,0.6);
}
#logodisegn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: #a855f7;
    border: none;
    margin-top: 10%;
}
#logodisegn>.logos{
    width: 90%; 
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: none;
    overflow: hidden;
    
}
.logos>.item{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    background: none;
}
.logos>.item>.logo{
    width: 100%; 
    background: none;
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0,0.2);
    margin-bottom: 15px;
    border-radius: 125px;
}
.item>.logo>img{
    width: 100%;
    background: none;
    transition: all 0.3s;
}
.item>.logo>img:hover{
    scale: 1.2;
    rotate: 2deg;
    cursor: pointer;
}
.item>p{
    font-family: "Beiruti", sans-serif;
    border-radius: 5px;
    padding: 5px 0px;
    color: rgb(255, 255, 255);
    font-weight: 200;
    width: 75%;
    background: #000000;
    text-align: center;
}






/*ألمربع الثاني في المنتصف*/


#graphicdisegn{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    border: none;
}
#graphicdisegn>.scrolltext{
    width: 60%;
    height: 100%;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("img/graphicdisegnimge/fainalfdksf.png") no-repeat;
    background-position: 0 -150px;
    background-size: cover;
    padding: 15px;
}
#graphicdisegn>.logos{
    width: 40%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background:#10c710;
    overflow: hidden;
}
#graphicdisegn>.logos>.item>.logo{
    border: none;
    border-radius: 0;
    width: 200px;
    height: 75%;
}
#girl{
    width: 100%;
    object-fit: cover;
}
#nike{
    width: 100%;
    object-fit: cover;
}
#hand{
    width: 100%;
    object-fit: cover;
}
#graphicdisegn>.logos>.item>p{
    border-radius: 5px;
    padding:5px 20px ;
    width: fit-content;
}
#graphicdisegn>.scrolltext{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding: 0px;
}


#graphicdisegn>.scrolltext>.h3text{
    display: flex;
    justify-content: flex-end;
    align-items: end;
}
#graphicdisegn>.scrolltext>.h3text>h3{
    color: #10c710;
    padding: 5px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: end;

}
#graphicdisegn>.scrolltext>.scrollpar>p{
    background: #10c710;
    padding: 5px 10px 5px 5px;
    justify-content: flex-end;

}
#graphicdisegn>.scrolltext>.scrollpar{
    transition: all 0.3s;
}
#graphicdisegn>.scrolltext>.scrollpar:hover{
    translate:-5px 0px;
}





/* المربع الثالث في المنتصف*/
#website{
    width: 90%;
    height: 50%;
    background:rgb(112, 111, 104);
    border: 2px solid rgba(247, 6, 6, 0.5);
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns:50% 50%;
    gap: 10px;
}
#website>.items{
    width: 100%;
    height: 100%;
    background: rgb(107, 40, 40);
    overflow: hidden;
    transition: all 0.3s;
}
#website>.items>img{
    width: 100%;
    overflow: hidden;
}
#website>.items:hover{
    translate: 50px;
    scale: 0.89;
    
}
#website>.item1{
    background: url("img/graphicdisegnimge/hjj.png") no-repeat;
    background-position: center;
    background-size: cover;
    grid-row: 1/3;

}#website>.item2{
    background: url("img/graphicdisegnimge/hjj.png") no-repeat;
    background-position: center;
    background-size: cover;
    

}
#website>.item3{
    background: url("img/graphicdisegnimge/hjj.png") no-repeat;
    background-position: center;
    background-size: cover;
    grid-row: 2/4;

}
#website>.item4{
    background: url("img/graphicdisegnimge/hjj.png") no-repeat;
    background-position: center;
    background-size: cover;
    
}




